<% layout('layout/boilerplate') %>

<div class="d-flex justify-content-center">
  <div class="me-4">
    <div class="card" style="width: 40rem">
      <img
        src="<%=data.image%>"
        class="card-img-top"
        style="height: 30rem"
        alt="image"
      />
      <div class="card-body">
        <h5 class="card-title"><%= data.title %></h5>
        <p class="card-text"><%= data.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= data.location %></li>
        <li class="list-group-item">Price : $<%= data.price %></li>
      </ul>
      <div class="card-body">
        <h6 class="fw-light">2 Days ago</h6>
      </div>
    </div>

    <div class="mt-3 mb-3">
      <button type="button" class="btn btn-outline-primary">
        <a
          href="/campground"
          class="text-dark link-underline link-underline-opacity-0"
        >
          &#8592;
        </a>
      </button>
      <button type="button" class="btn btn-outline-primary">
        <a
          href="/campground/<%=data._id%>/update"
          class="text-dark link-underline link-underline-opacity-0"
        >
          update
        </a>
      </button>
      <button type="button" class="btn btn-outline-primary">
        <a
          href="/campground/<%=data._id%>/delete"
          class="text-dark link-underline link-underline-opacity-0"
        >
          delete
        </a>
      </button>
    </div>
  </div>

  

  <div>
    <form action="/campground/<%= data._id %>/review" method="post">
      <div class="mt-3 mb-3">
        <h4 class="mt-3 mb-3">Reviews of the place</h4>
        <div class="card" style="width: 40rem">
          <div class="mt-3 ms-3">
            <h5 class="display">Post the review of the place :</h5>
            <label for="range"> Rating </label>
            <input type="range" name="rating" id="" min="1" max="5" />
          </div>

          <div class="mb-3 ms-3 me-3">
            <label for="body"></label>
            <textarea
              name="body"
              id="body"
              cols="80"
              rows="3"
              placeholder="type the review"
            ></textarea>
          </div>
          <button style="width: 10rem" class="mb-3 ms-3" type="submit">
            Post
          </button>
        </div>
      </div>
    </form>

    

    <% for (const i of data.reviews) { %>
    <div class="card m-2" style="width: 40rem">
      <div class="card-body">
        <h5 class="card-title">Rating : <%= i.rating %></h5>
        <p class="card-text"><%= i.body %></p>
        <form action="/campground/<%=data._id%>/review/<%=i._id%>?_method=DELETE" method="post">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
    <% } %>
  </div>
</div>
